<?xml version="1.0" ?>
<component>
    <!-- 
        //////// WIND UI COMPONENT ////////
    -->

    <!-- Component CSS code -->
    <style type="text/css" app="wind.ui">
        .adaptativeImage {
            max-width: 80%;
        }
    </style>

    <!-- Component HTML Variables Default Values -->
    <!-- Set the default value of the undefined variables here when instantiating this component in yours fragments -->
    <!-- Use "__%WindUiPhp::getResourcePath__/yourResource" to get path of a resource of your file -->
    <!-- It is important that the JSON syntax written here is correct, or Wind UI will not be able to understand the default values of your component's variables. -->
    <json type="text/json" app="wind.ui">
        {
        "imageSrc":"__%WindUiPhp::getResourcePath__/images/startup-loading.png",
        "style":"max-height: 400px;"
        }
    </json>

    <!-- Component HTML Code -->
    <!-- Wind UI Variables (example: __%variableName__) only works here! -->
    <html type="text/html" app="wind.ui">

        <center>
            <img class="adaptativeImage" src="__%imageSrc__" style="__%style__" />
        </center>

    </html>

    <!-- Component JavaScript Code -->
    <script type="text/javacript" app="wind.ui">

    </script>
</component>