<?xml version="1.0" ?>
<component>
    <!-- 
        //////// WIND UI COMPONENT ////////
    -->

    <!-- Component CSS code -->
    <style type="text/css" app="wind.ui">
    </style>

    <!-- Component HTML Code -->
    <!-- Wind UI Variables (example:  __%variableName__) only works here! -->
    <html type="text/html" app="wind.ui">

        <pre><code data-language="javascript">__%codeToShow__</code></pre>

    </html>

    <!-- Component JavaScript Code -->
    <script type="text/javacript" app="wind.ui">
    </script>
</component>