<?xml version="1.0" ?>
<component>
    <!-- 
        //////// WIND UI COMPONENT ////////
    -->

    <!-- Component CSS code -->
    <style type="text/css" app="wind.ui">
    </style>

    <!-- Component HTML Variables Default Values -->
    <!-- Set the default value of the undefined variables here when instantiating this component in yours fragments -->
    <!-- Use "__%WindUiPhp::getResourcePath__/yourResource" to get path of a resource of your file -->
    <!-- It is important that the JSON syntax written here is correct, or Wind UI will not be able to understand the default values of your component's variables. -->
    <json type="text/json" app="wind.ui">
        {
        "codeToShow":""
        }
    </json>

    <!-- Component HTML Code -->
    <!-- Wind UI Variables (example:  __%variableName__) only works here! -->
    <html type="text/html" app="wind.ui">

        <pre><code data-language="javascript">__%codeToShow__</code></pre>

    </html>

    <!-- Component JavaScript Code -->
    <script type="text/javacript" app="wind.ui">
    </script>
</component>