<?xml version="1.0" ?>
<component>
    <!-- 
        //////// WIND UI COMPONENT ////////
    -->

    <!-- Component CSS code -->
    <style type="text/css" app="wind.ui">
        .adaptativeImage {
            max-width: 80%;
        }
    </style>

    <!-- Component HTML Variables Default Values -->
    <!-- Set the default value of the undefined variables here when instantiating this component -->
    <json type="text/json" app="wind.ui">
        {
        "imageSrc":"",
        "style":""
        }
    </json>

    <!-- Component HTML Code -->
    <!-- Wind UI Variables (example: __%variableName__) only works here! -->
    <!-- Use "__%WindUiPhp::getResourcePath__/yourResource" to get path of a resource of your app -->
    <html type="text/html" app="wind.ui">

        <center>
            <img class="adaptativeImage" src="__%imageSrc__" style="__%style__" />
        </center>

    </html>

    <!-- Component JavaScript Code -->
    <script type="text/javacript" app="wind.ui">

    </script>
</component>