/* Component "PasswordField" CSS Code */
/* 
/* All the CSS code for your component goes here.
/* It is highly recommended that you include the name of your component in your CSS nodes.
/* Example
/* .componentYourComponentName
/* #componentYourComponentName
*/

.componentPasswordFieldParent {
    width: 100%;
    max-width: 350px;
}

.componentPasswordFieldParent label{
    color: #5d5d5d;
    font-weight: bolder;
}

.componentPasswordFieldParent input {
    width: 100%;
    padding: 12px 20px;
    margin-top: 4px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 250ms;
}

.componentPasswordFieldParent input:focus {
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.29);
}

.componentPasswordFieldStatus {
    margin-top: -14px;
    display: grid;
    grid-template-columns: auto 40px;
}

.componentPasswordFieldStatusText{
    font-size: 10px;
    visibility: hidden;
}